<div class="container">

<!-- Panel -->

<% @likes.each do |like| %>
<% if like.user_id == current_user.id %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="/users/<%= like.photo.user_id %>">
              <%= like.photo.user.username %></a>

              <small>
                <%= time_ago_in_words(like.photo.created_at) %> ago
              </small>
            </h3>
          </div>

          <div class="panel-body">

            <a href="/photos/<%= like.photo_id %>"><img class="img-responsive" src="<%= like.photo.image %>" alt="" /></a>


            <!-- Form to delete Like -->

    <% if Like.where({:photo_id => like.photo_id})%>
    <a href="/delete_like/<%= like.id %>" class="btn btn-link">
    <i class="fa fa-heart"></i>
    </a>
    <%= like.user.username %> likes this

    <% end %>

            <ul class="list-unstyled">
              <li><h6>
                <a href="/users/<%= like.photo.user_id %>"><%= like.photo.user.username %></a>
                <small><%= time_ago_in_words(like.photo.created_at) %> ago</small>
              </h6></li>
              <li><%= like.photo.caption %></li>
            </ul>

            <ul class="list-unstyled">
              <% like.photo.comments.each do |comment| %>
              <li><h6><a href="/users/<%= comment.user_id %>"><%= comment.user.username %></a>
                <small><%= time_ago_in_words(comment.created_at) %> ago</small></h6>


              </li>
              <li> <%= comment.body %></li>
              <% end %>
            </ul>

            <!-- Form to leave comment -->
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                <!-- Label and input for photo_id -->
                <input type="hidden" id="photo_id" name="photo_id" placeholder="Photo" class="form-control" value="<%= like.photo_id  %>">


                <!-- Label and input for body -->
                <div class="form-group">
                  <textarea id="body" name="body" placeholder="Add a comment..." class="form-control" rows="3"></textarea>
                </div>

                <!-- Label and input for user_id -->


                <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">


                <button class="btn btn-success">
                  Post Comment
                </button>
                or
                <a href="/photos">Cancel</a>
              </form>

            </div>
          </div>



        </div>

      </div>
    </div>
      <% end %>
<% end %>

</div>
