
<div class="container">
  <hr>
  <% @user.likes.each do |like| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <% p = like.photo_id %>
            <% prow = Photo.find(p) %>
            <%= prow.user.username %>
            <%# User.find(like.user_id).username %>
          </h3>
          <small class="text-muted">
            about <%= time_ago_in_words(Photo.find_by(like.photo_id).created_at) %> ago
          </small>

        </div>
        <div class="panel-body">
          <a href="/photos/<%= like.photo_id %>">
            <img src="<%= Photo.find(like.photo_id).image %>" class="img-responsive">
          </a>
          <p>
            <a href="delete_like/<%= like.id %>">
              <i class="fa fa-heart">
              </i>
            </a>
            <!-- Users that like the photo -->
            <%# User.find_by(like.photo_id => @like.photo_id).username %>

            <% Like.where(:photo_id => p).each do |user| %>
              <% u = user.user_id %>
              <%= User.find(u).username %>
              <% end %>
              like this
            </p>

            <ul class="media-list">
              <div class="media-body">
                <form action="/create_comment" method="post">
                  <div class="form-group">
                    <input type="text" id="body" name="body" placeholder="Add a comment.." class="form-control">
                  </div>
                </form>
              </div>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>


<%# Like.where(:user_id => @user.id).each do |like| %>
<!-- <div class="panel-body"> -->
<!-- <td> <img class="img-responsive" src="<%# Photo.find(like.photo_id).image %>"</td> -->
<!-- </div> -->
<%# end %>
