<div class="row">
   <div class="col-md-8 col-md-offset-2">
     <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            All Users
          </h3>
        </div>
      <!-- <% @users.each do |user| %>

      <tr>
        <td>
          <a href="/users/<%= user.id %>"><%= user.username %></a>
        </td>
          </tr>

      <tr>
      <a href="/users/<%= user.id %>"><%= user.username %></a>
      </tr>



<% end %> -->

<div class="row">
  <div class="col-md-12">
    <table class="table table table-hover">

      <% @users.each do |user| %>
      <tr>
        <td><a href="/users/<%= user.id %>"><%= user.username %></a></td>
        <td>

          <!-- <a href="/users/<%= user.id %>/edit" class="btn btn-warning">Edit</a> -->
          <!-- <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">Delete</a> -->
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
