<div class="page-header text-center">

  <h3><%=@user.username.capitalize %></h3>
  <h4><%= @user.email %></h4>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">



      <div class="col-md-8 col-md-offset-2">
        <% @user.photos.each do |photo| %>
        <tr>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <td><%= photo.caption %></td></h3>
            </div>
            <div class="panel-body">
        <a href="/photos/<%= photo.id %>""><img class="img-responsive" src="<%= photo.image%>" alt="" /></a>
            </div>
          </div>


        </tr>

        <% end %>
      </div>
    </dl>

  </div>
</div>
</div>
