<div class="page-header">
  <h1>
    <%=@user.username%>
  </h1>
</div>



<div class="col-md-8 col-md-offset-2">

  <% @user.photos.each do |photo| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/photos/<%=photo.id%>"><%=@user.username%></a>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/<%=photo.id%>">
          <img src="<%= photo.image %>" class="img-responsive">
        </a>
      </div>
      </div>

        <% end %>
</div>

