
<div class="col-md-8 col-md-offset-2">
  <div class="jumbotron">
    <h3><%= @user.username %></h3>
  </div>
</div>

<div class="col-md-8 col-md-offset-2">
  <a href="/photos/new" class="btn btn-default btn-block">
    <i class="fa fa-plus"></i>
  </a>
  <hr>
</div>

<% @user.photos.each do |photo| %>
<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading"> <h3 class="panel-title"><%= @user.username %></h3>
    </div>
    <div class="panel-body">
      <div>
        <img src="<%= photo.image %>" class="img-responsive" alt="Responsive image">
      </div>
      <% photo.likes.each do |like| %>
      <p>
        <% if photo.likes.count > 0 && current_user.likes.find_by(:photo_id => photo.id).present? %>
        <a href="/delete_like/<%= like.id %>"><i class="fa fa-heart" aria-hidden="true"></i></a><%= like.user.username %> like this
        <% else %>
        <% if photo.likes.count > 0 %>

        <form action="/create_like" method="post">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
          <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @user.id %>">
          <input type="hidden" id="photo_id" name="photo_id" placeholder="Photo" class="form-control" value="<%= photo.id %>">
          <button class="btn btn-success">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </button>
        </form>

      <%= like.user.username %> likes this
        <% else %>
        <% if current_user.likes.find_by(:photo_id => photo.id).present? %>
        <a href="/delete_like/<%= like.id %>"><i class="fa fa-heart" aria-hidden="true"></i></a><%= current_user.username %> likes this
        <% else %>
        <a href="/create_like"><i class="fa fa-heart-o" aria-hidden="true"></i></a>be the first to like this
        <% end %>
        <% end %>
        <% end %>
      </p>
      <% end %>


      <div class="media-body">
        <h6 class="media-heading"><%= @user.username %></h6>
        <p>
          <%= photo.caption %>
        </p>
      </div>
    </div>
  </div>
</div>
<% end %>
