<div class="container">


<div class="page-header col-md-6 col-md-offset-3 text-center">
  <h3><%= @user.username %></h3>
</div>

<div class="page-header col-md-6 col-md-offset-3">
    <a href="/photos/new" class="btn btn-default btn-block">
          <i class="fa fa-plus"></i>
        </a>
</div>

<% @user.photos.each do |photo| %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">

      <div class="panel-heading"><%= User.find_by({ :id => photo.user_id }).username %> <small><%= time_ago_in_words(photo.created_at) %> ago</small></div>

      <div class="panel-body"><img style='height: 100%; width: 100%; object-fit: contain' src="<%= photo.image %>"></div>

      <div class="panel-body"><%= photo.caption %></div>

    </div>

  </div>
</div>
<% end %>
</div>
