<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Caption</dt>
      <dd><%= @user.username %></dd>

      <dt>Image</dt>
      <dd><%= @user.email %></dd>

      <dt>User</dt>
      <dd><%= @user.id %></dd>

    </dl>



    <% @photos.each do |photo| %>
    <tr>
      <div class="row">
        <div class="col-md-12">
          <dl class="dl-horizontal">


            <div class="panel panel-default">
              <div class="panel-heading"><%= photo.caption %></div>
              <div class="panel-body">

                <dd><a href="/photos/<%= photo.id %>"><img src="<%= photo.image %>" class="img-responsive"></a>

                  <form action="/create_comment" method="post">
                    <!-- Hidden input for authenticity token to protect from forgery -->
                    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                    <!-- Label and input for photo_id -->

                    <!-- Label and input for body -->
                    <div class="form-group">

                      <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" rows="3"><%= @comment.body %></textarea>
                    </div>

                  </form>


                </dd>
              </div>
            </div>
          </div>
        </div>
      </tr>
      <% end %>
    </table>
  </div>
</div>


</div>
</div>
