<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
      <h3>
        <%= @user.username %>
      </h3>
    </div>
  </div>
</div>

<!-- Add new photo -->

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if current_user.id == @user.id %>
    <a href="/photos/new" class="btn btn-default btn-block">
      <i class="fa fa-plus"></i>
    </a>
    <% end  %>
    <hr>
  </div>
</div>

<% @user.photos.each do |user| %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">


      <% if @user.id == user.user_id %>
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/<%= user.user_id %>">
            <%= user.user.username %></a>

            <small>
              <%= time_ago_in_words(user.created_at) %> ago
            </small>
          </h3>
        </div>
        <div class="panel-body">
          <ul>
            <a href="/photos/<%= user.id %>"><img class="img-responsive" src="<%= user.image %>" alt="" /></a>

          </ul>

          <!-- Form to Like -->
          <% if user.likes.count == 0 %>

          <form action="/create_like" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <!-- Label and input for user_id -->
            <div class="form-group">

              <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
            </div>

            <!-- Label and input for photo_id -->
            <div class="form-group">

              <input type="hidden" id="photo_id" name="photo_id" placeholder="Photo" class="form-control" value="<%= user.id %>">
            </div>

            <button class="btn btn-link">
              <i class="fa fa-heart-o"></i>
            </button>

            <small>be the first to like this</small>
          </form>


          <% end %>
          <% end %>

          <%= @photo.fans.pluck(:username).to_sentence %>
          <% if @photo.likes.count > 1 %>
          <small>like this</small>
          <% else  %>
          <% if @photo.likes.count == 1  %>
          <small>likes this</small>
          <% else %>
          <% end %>
          <% end %>

          <ul class="list-unstyled">
            <li><h6>
              <a href="/users/<%= user.user_id %>"><%= user.user.username %></a>
              <small><%= time_ago_in_words(user.created_at) %> ago</small>
            </h6></li>
            <li><%= user.caption %></li>
          </ul>

          <!-- All Comments -->
          <ul class="list-unstyled">
            <% user.comments.each do |comment| %>
            <li><h6><a href="/users/<%= comment.user_id %>"><%= comment.user.username %></a>
              <small><%= time_ago_in_words(comment.created_at) %> ago</small></h6>


            </li>
            <li> <%= comment.body %></li>
            <% end %>
          </ul>

          <!-- Form to leave comment -->
          <div class="form-group">
            <form action="/create_comment" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <!-- Label and input for photo_id -->
              <input type="hidden" id="photo_id" name="photo_id" placeholder="Photo" class="form-control" value="<%= user.id %>">
            </div>


            <!-- Label and input for body -->
            <div class="form-group">
              <textarea id="body" name="body" placeholder="Add a comment..." class="form-control" rows="3"></textarea>
            </div>

            <!-- Label and input for user_id -->


            <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">


            <button class="btn btn-success">
              Post Comment
            </button>
            or
            <a href="/comments">Cancel</a>
          </form>

        </div>


      </div>



    </div>


  </div>
  <% end %>
