<%= @user.username %>

<% @user.photos.each do |photo| %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class= "panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/<%= @user.id %>"><%= @user.username %></a>
        </h3>

        <small>
          <%= time_ago_in_words(photo.created_at) %>
        </small>
      </div>

      <div class="panel-body">
        <a href="/photos/<%= photo.id %>">
          <img src="<%= photo.image %>" class="img-responsive"/>
        </a>
      </div>


      
    </div>
  </div>
</div>
<% end %>
