<div class="page-header">


<div class="container">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="/photos/new" class="btn btn-default btn-block">
        <i class="fa fa-plus"></i>
      </a>
      <hr>
    </div>

<% @users.photos.each do |photo| %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/<%= photo.user.id %>">
            <%= photo.user.username %>
          </a>
          <small> <%= time_ago_in_words(photo.updated_at).to_s %></small>
        </h3>
      </div>
      <div class="panel-body">
        <a href="/photos/<%= photo.id %>">
          <img src="<%= photo.image %>" class="img-responsive">
        </a>
        <p>
        <% if photo.likes.find_by(:user_id => current_user.id).present? %>
          <a href="/delete_like/<%= photo.id %>" class="btn btn-link">
            <i class="fa fa-heart"></i>
          </a>
          <%= photo.fans.pluck(:username).to_sentence %>
          <% if photo.fans.pluck(:username).count == 1 %>
            likes this
          <% else %>
            like this
          <% end %>
          <% else %>
          <form action="/create_like" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="photo_id" value="<% photo.id %>">
            <input type="hidden" name="user_id" value="<% current_user.id %>">

            <button type="btn btn-link">
              <i class="fa fa-heart-o"></i>
            </button>

          </form>
          <% end %>






        </p>
        <% photo.comments.each do |comment| %>
        <ul class="media-list">
          <li class="media">
          <div class="media-body">
            <h6 class="media-heading">
              <a href="#">

              </a>
              <small>
                <%= time_ago_in_words(comment.updated_at).to_s %>
              </small>

            </h6>
            <%= comment.body %>
          </div>
        </li>
          <% end %>
        </ul>
          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">

                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

                <input type="hidden" name="photo_id" value="<%= photo.id %>">

                <input type="hidden" name="user_id" value="<%= current_user.id %>">

                <div class="form-group">
                  <label for="body">

                  </label>
                  <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required>
                </div>

              </form>


            </div>



          </li>


      </div>
    </div>

  </div>

</div>
  <% end %>
