<div class="jumbotron">
  <h3><%= @user.username %></h3>
</div>

<div class="page-header">
  <a href="/photos/new" class="btn btn-default btn-group-justified"><i class="fa fa-plus" aria-hidden="true"></i></a>
</div>

<div class="row">

  <% @user.photos.each do |photo| %>
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading"><%= User.find_by( :id => photo.user_id ).username %></div>
      <div class="panel-body">
        <div><img src="<%= photo.image %>" class="img-responsive" alt="Photo not found"></img></div>

        <!-- likes -->

        <form action="/create_like" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
          <!-- Label and input for user_id -->
            <input type="hidden" name="user_id" value="<%= current_user.id %>">
          <!-- Label and input for photo_id -->
            <input type="hidden" name="photo_id" value="<%= photo.id %>">
          <div class="btn-group">
          <button class="like-btn btn-small">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </button>
          <% photo.likes.each do |like| %>
          <%= like.user.username %>
          <% end %>
          </div>
        </form>



        <!-- post caption -->
        <div>
          <a href="/users/<%= photo.user.id %>"><%= photo.user.username %></a>
          <small><%= time_ago_in_words( photo.created_at ) %> ago</small>
        </div>
        <div><%= photo.caption %></div>

        <!-- comments -->
        <% photo.comments.each do |comment| %>
        <div>
          <a href="/users/<%= comment.user.id %>"><%= comment.user.username %></a>
          <small><%= time_ago_in_words( comment.created_at ) %> ago</small>
        </div>
        <div><%= comment.body %></div>
        <% end %>

        <!-- add comment -->
        <form action="/create_comment" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for photo_id -->
            <input type="hidden" name="photo_id" value="<%= photo.id %>">

          <!-- Label and input for body -->
          <div class="form-group">
            <input type="text" name="body" placeholder="Add a comment..." class="form-control" rows="3"></input>
          </div>

          <!-- Label and input for user_id -->
            <input type="hidden" name="user_id" value="<%= current_user.id %>">


        </form>



      </div>
    </div>

  </div>
<% end %>
</div>
