<div class="page-header text-center">

  <h3><%= @user.username %></h3>
  <h4><%= @user.email %></h4>
</div>



<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <a href="/photos/new" class="btn btn-default btn-block">
          <i class="fa fa-plus"></i>
        </a>
<hr>
</div>
</div>

<div class="row">
    <dl class="dl-horizontal">
      <div class="col-md-8 col-md-offset-2">
        <% @user.photos.each do |photo| %>
        <tr>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a href="/users/<%= photo.user.id %>">
                  <%= photo.user.username %>   </a>
                  <small>
                    <%= time_ago_in_words(photo.created_at) %> ago
                  </small>
                </h3>
                </div>
                <div class="panel-body">
                  <a href="/photos/<%= photo.id %>""><img class="img-responsive" src="<%= photo.image%>" alt="" /></a>


                  <% if @likes.where({:photo_id => photo.id}).count > 0 %>
                  <%  @like = Like.find_by({:photo_id => photo.id})%>
                  <a href="/delete_like/<%= @like.id %>" class="btn btn-link">
                    <i class="fa fa-heart"></i>
                  </a>
                  <% if @alllikes.where({:photo_id => photo.id}).count > 0 %>
                  <% @alllikes.where({:photo_id => photo.id}).each do |alllike| %>
                  <%= alllike.user.username %>
                  <% end %> likes this
                  <% end %>
                  <% else %>


                  <form action="/create_like" method="post">
                    <!-- Hidden input for authenticity token to protect from forgery -->
                    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                    <!-- Label and input for user_id -->
                    <div class="form-group">
                      <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @user.id %>">
                    </div>

                    <!-- Label and input for photo_id -->
                    <div class="form-group">

                      <input type="hidden" id="photo_id" name="photo_id" placeholder="Photo" class="form-control" value="<%= photo.id %>">
                    </div>

                    <button class="btn btn-link"><i class="fa fa-heart-o" aria-hidden="true"></i></button>

                    <% if @alllikes.where({:photo_id => photo.id}).count > 0 %>
                    <% @alllikes.where({:photo_id => photo.id}).each do |alllike| %>
                    <%= alllike.user.username %>
                    <% end %> likes this
                    <% else %>
                    <small class="text-muted">be the first to like this</small>
                    <% end %>

                  </form>

                  <% end %>


                  <ul class="media-list">
                    <li class="media"><a href="/users/<%= photo.user.id %>">
                      <h6>  <%= photo.user.username %></a>
                        <small>
                          <%= time_ago_in_words(photo.created_at) %> ago
                        </small>
                      </h6> </li>
                      <div class="media-body">
                        <%= photo.caption %>
                      </div>

                      <% photo.comments.each do |comment| %>
                      <div class="">

                        <li class="media"><a href="/users/<%= comment.user.id %>">
                          <h6>  <%= comment.user.username %></a>
                            <small>
                              <%= time_ago_in_words(comment.created_at) %> ago
                            </small>
                          </h6> </li>
                          <div class="media-body">
                            <%= comment.body %>
                          </div>
                        </div>


                        <% end %>


                        <div class="">
                          <form action="/create_comment" method="post">
                            <!-- Hidden input for authenticity token to protect from forgery -->
                            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                            <!-- Label and input for photo_id -->
                            <div class="form-group">

                              <input type="hidden" id="photo_id" name="photo_id" placeholder="Photo" class="form-control" value="<%= photo.id %>">
                            </div>

                            <!-- Label and input for body -->
                            <div class="form-group">


                              <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" rows="3"></input>
                            </div>

                            <!-- Label and input for user_id -->
                            <div class="form-group">
                              <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
                            </div>
                        </form>
                      </div>
                    </ul>
                  </div>
                </div>
              </tr>
              <% end %>
            </div>
          </dl>
        </div>
      </div>
