<div class="page-header">
  <h3><%= @movie.title %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Ranking</dt>
      <dd><%= @movie.ranking %></dd>

      <dt>Title</dt>
      <dd><%= @movie.title %></dd>

      <dt>Year</dt>
      <dd><%= @movie.year %></dd>

      <dt>Duration</dt>
      <dd><%= @movie.duration %></dd>

      <dt>Description</dt>
      <dd><%= @movie.description %></dd>

      <dt>Image url</dt>
      <dd><img src="<%= @movie.image_url %>" width="280"></dd>

      <dt>Genre</dt>
      <dd><%= @movie.genre %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/movies" class="btn btn-primary">
        Back
      </a>
      <a href="/movies/<%= @movie.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_movie/<%= @movie.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
