<div class="page-header">
  <h1>
    Users

  </h1>
</div>


<% @users.photos.each do |photo| %>

<div class="row">
   <div class="col-md-8 col-md-offset-2">
     <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="/users/<%= @users.id %>">
            <%= @users.username %>
            </a>
            <small>
             placeholder for time
            </small>
          </h3>
        </div>

        <div class="panel-body">

          <a href="/photos/<%= photo.id %>"
            ><img src="<%= photo.image %>" class="img-responsive">
          </a>


          <div class="row">
            <div class="col-md-12">

            <% if photo.likes.pluck(:user_id).find(current_user.id) != nil %>

            <form action="/delete_like/<%= photo.id %>" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
              <input type="hidden" name="user_id" value="<%= current_user.id %>" >
              <input type="hidden" name="photo_id" value="<%= photo.id %>" >
              <button class="btn btn-link">
                  <i class="fa fa-heart"></i>
              </button>
            </form>

            <% else %>
              <!-- false -->
              <form action="/create_like" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                <input type="hidden" name="user_id" value="<%= current_user.id %>" >
                <input type="hidden" name="photo_id" value="<%= photo.id %>" >
                <button class="btn btn-link">
                    <i class="fa fa-heart-o"></i>
                </button>

            <% end %>

            <% if photo.likes.count!=0 %>

              <% photo.likes.each do |like| %>
                <%= like.user.username%>,
              <% end %>
            <% else %>
              be the first to
            <% end %>
              like this
              </form>


            </div>
          </div>



          <ul class="media-list">
            <% photo.comments.each do |comment| %>
            <li class="media">
              <div class="media-body">
                <h6>
                  <%=comment.user.username%>
                  <small>
                   placeholder for time
                  </small>
                </h6>
                <%= comment.body %>
              </div>
            </li>
            <%end%>

          </ul>

        </div>
      </div>
    </div>
  </div>




      <tr>
        <td>

        <% if current_user.id==@users.id %>
        <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
        <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        <% end %>

        </td>
      </tr>
      <tr>
        <td>

        </td>
      </tr>
      <% end %>
