<!-- Validation failure messages -->
<% if @photo.errors.any? %>
  <% @photo.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<form action="/update_photo/<%= @photo.id %>">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-t">Edit Photo</h3>
  </div>


<div class="panel-body">

      <!-- Label and input for caption -->
      <div class="form-group">
        <label for="caption" class="control-label">
          Caption
        </label>

        <textarea id="caption" name="caption" placeholder="Caption" class="form-control" rows="3"><%= @photo.caption %></textarea>
      </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="text" id="image" name="image" placeholder="Image" class="form-control" value="<%= @photo.image %>">
      </div>

      <!-- Label and input for user_id -->


        <input type="hidden" name="user_id" value="<%= current_user.id %>">


      <button class="btn btn-warning">
        Update Photo
      </button>
      or
      <a href="/photos/<%= @photo.id %>">Cancel</a>
    </form>
  </div>
</div>
