<div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success">New Photo</a>
  </h1>
</div>

<div class="col-md-8 col-md-offset-2">

      <% @photos.each do |photo| %>
     <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/photos/<%=photo.id%>"><%=photo.user.username%></a> <small><%=time_ago_in_words(photo.created_at) %></small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/<%=photo.id%>">
          <img src="<%= photo.image %>" class="img-responsive">
        </a>


  <form action="/create_like" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->


        <input type="hidden" name="user_id" value="<%= current_user.id %>">


      <!-- Label and input for photo_id -->

        <input type="hidden" name="photo_id" value="<%= photo.id %>">


      <button class="btn">
      <i class="fa fa-heart-o"></i>
      </button>
  <% photo.likes.each do |like|%>
    <p><%=like.user_id%></p>
    <%end%>


    </form>











        <% photo.comments.each do |comment|%>

        <ul class="media-list">
  <li class="media">
    <div class="media-body">
      <h6 class="media-heading">
        <a href="/users/<%=comment.user_id%>"><%=comment.user.username%></a>
        <small><%=time_ago_in_words(comment.created_at) %></small>
        <div><%=comment.body%></div>



      </h6>

    </div>
  </li>
</ul>


        <% end%>



   <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for photo_id -->

        <input type="hidden" name="photo_id"  value="<%= photo.id %>">


      <!-- Label and input for body -->

     <label for="body" class="sr-only">
                    Body
                  </label>


      <div class="form-group">
        <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required>
      </div>

      <!-- Label and input for user_id -->


        <input type="hidden" name="user_id" value="<%= current_user.id %>">



    </form>






































      </div>
      </div>

















        <% end %>
</div>
