<div class="container">
<div class="page-header col-md-8 col-md-offset-2">
    <a href="/photos/new" class="btn btn-default btn-block">
          <i class="fa fa-plus"></i>
        </a>
</div>

<% @photos.each do |photo| %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading"><%= User.find_by({ :id => photo.user_id }).username %> <small><%= time_ago_in_words(photo.created_at) %> ago</small></div>
          <div class="panel-body"> <a href="/photos/<%= photo.id %>"><img style='height: 100%; width: 100%; object-fit: contain' src="<%= photo.image %>"></a></div>
          <div class="panel-body"><%=  photo.caption %></div>
        </div>
        </div>
        </div>
<% end %>
</div>
