<div class="page-header">

</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <!-- <tr>
      <th>Caption</th>
      <th>Image</th>
      <th>User</th>
      <th>Actions</th>
    </tr> -->


    <% @photos.each do |photo| %>
    <tr>
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= photo.user.username.capitalize %></h3>
            </div>
            <div class="panel-body">
              <a href="/photos/<%= photo.id %>""><img class="img-responsive" src="<%= photo.image%>" alt="" /></a>

            </div>
            <div class="panel-footer"><%= photo.caption %>
              <hr>
              <% photo.comments.each do |comment| %>
              <div class="">
              <a href="/users/<%= comment.user.id %>">    <%= comment.user.username.capitalize %></a>


              <p>
                  <%= comment.body %>
              </p>

              </div>

              <hr>
              <% end %>
            </div>
          </div>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
