<div class="col-md-8 col-md-offset-2">
<a href="/photos/new" class="btn btn-default btn-block">
<i class="fa fa-plus"></i>
</a>
<hr>
</div>


<% @photos.each do |photo| %>
<div class="col-md-8 col-md-offset-2">
<div class="panel panel-default">
  <div class="panel-heading"> <h3 class="panel-title"><%= photo.user.username %></h3>
    </div>
  <div class="panel-body">
    <div>
      <img src="<%= photo.image %>" class="img-responsive" alt="Responsive image">
    </div>

    <% photo.likes.each do |like| %>
    <p>
      <% if photo.likes.count > 0 && current_user.likes.find_by(:photo_id => photo.id).present? %>
      <a href="/delete_like/<%= like.id %>"><i class="fa fa-heart" aria-hidden="true"></i></a><%= like.user.username %> like this
      <% else %>
      <% if photo.likes.count > 0 %>
      <a href="/create_like"><i class="fa fa-heart-o" aria-hidden="true"></i></a><%= like.user.username %> likes this
      <% else %>
      <% if current_user.likes.find_by(:photo_id => photo.id).present? %>
      <a href="/delete_like/<%= like.id %>"><i class="fa fa-heart" aria-hidden="true"></i></a><%= current_user.username %> likes this
      <% else %>
      <a href="/create_like"><i class="fa fa-heart-o" aria-hidden="true"></i></a>be the first to like this
      <% end %>
      <% end %>
      <% end %>
    </p>
    <% end %>

    <div class="media-body">
      <h6 class="media-heading"><%= photo.user.username %></h6>
      <p>
          <% photo.comments %>
      </p>
    </div>

<div>
    <div class="media-body">
      <form action="/create_comment" method="post">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <input type="hidden" id="photo_id" name="photo_id" placeholder="Photo" class="form-control" value="<%= photo.id %>">
        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= photo.user.id %>">

        <!-- Label and input for body -->
        <div class="form-group">
          <input type="text" id="body" name="body" placeholder="Add a comment.." class="form-control" rows="3"></input>
        </div>
      </form>
    </div>
    </div>
    </div>
</div>
</div>
<% end %>



<!-- <div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success">New Photo</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Caption</th>
        <th>Image</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.caption %></td>
        <td><%= photo.image %></td>
        <td><%= photo.user_id %></td>
        <td>
          <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
          <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div> -->
