<div class="row">
    <div class="col-md-8 col-md-offset-2">
 <a href="/photos/new" class="btn btn-default btn-block">
   <i class="fa fa-plus"></i>
 </a>

 <hr>
</div>
</div>


<% @photos.each do |photo| %>

<div class="row">
   <div class="col-md-8 col-md-offset-2">
     <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="/users/<%= photo.user.id %>">
            <%= photo.user.username %>
            </a>
            <small>
              <%= time_ago_in_words(photo.created_at)   %>
            </small>
          </h3>
        </div>

        <div class="panel-body">

          <a href="/photos/<%= photo.id %>"
            ><img src="<%= photo.image %>" class="img-responsive">
          </a>


          <div class="row">
            <div class="col-md-12">

            <% if photo.likes.pluck(:user_id).include?(current_user.id) %>
            <form action="/delete_like/<%= photo.likes.where({:user_id => current_user.id}).pluck(:id)[0] %>" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
              <input type="hidden" name="user_id" value="<%= current_user.id %>" >
              <input type="hidden" name="photo_id" value="<%= photo.id %>" >
              <button class="btn btn-link">
                  <i class="fa fa-heart"></i>
              </button>
            </form>

            <% else %>

              <form action="/create_like" method="post">
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                <input type="hidden" name="user_id" value="<%= current_user.id %>" >
                <input type="hidden" name="photo_id" value="<%= photo.id %>" >
                <button class="btn btn-link">
                    <i class="fa fa-heart-o"></i>
                </button>

            <% end %>

            <% if photo.likes.count!=0 %>

              <% photo.likes.each do |like| %>
                <%= like.user.username%>,
              <% end %>
            <% else %>
              be the first to
            <% end %>
              like this
              </form>


            </div>
          </div>



          <ul class="media-list">
            <% photo.comments.each do |comment| %>
            <li class="media">
              <div class="media-body">
                <h6>
                  <a href="/users/<%= comment.user.id %>">
                  <%=comment.user.username%>
                  </a>
                  <small>
                    <%= time_ago_in_words(comment.created_at) %>
                  </small>
                </h6>
                <%= comment.body %>
              </div>
            </li>
            <%end%>

          </ul>

          <form action="/create_comment" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <!-- Label and input for photo_id -->
            <div class="form-group">
              <input type="hidden" name="photo_id" value="<%= photo.id %>">
              <input type="hidden" name="user_id" value="<%= current_user.id %>" >

              <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required></textarea>
            </div>


          </form>

        </div>
      </div>
    </div>
  </div>


      <% end %>
