<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="/photos/new" class="btn btn-default btn-block"><i class="fa fa-plus"></i></a>
    </div>
  </div>
  <hr>

  <% @photos.order(created_at: :desc).each do |photo| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="/users/<%= photo.user.id %>"><%= photo.user.username %></a>
            <small><%= time_ago_in_words(photo.created_at) %> ago</small>
          </h3>
        </div>
        <div class="panel-body">
          <a href="/photos/<%= photo.id %>"><img src="<%= photo.image %>" alt="" class="img-responsive" /></a>
          <p>
            <% if photo.fans.where({ :id => (current_user.id) }).present? %>
            <a href="/photos" class="btn btn-link"><i class="fa fa-heart"></i></a>
            <% else %>
            <a href="/photos" class="btn btn-link"><i class="fa fa-heart-o"></i></a>
            <% end %>
            <% if photo.fans.count == 0 %>
            <small>be the first to like this</small>
            <% else%>
            <% if photo.fans.count == 1  %>
            <%= photo.fans.pluck(:username).to_sentence %> likes this
            <% else %>
            <%= photo.fans.pluck(:username).to_sentence %> like this
            <% end %>
            <% end %>
          </p>
          <ul class="media-list">
            <li class="media"><h6><a href="/users/<%= photo.user.id %>"><%= photo.user.username %></a> <small> <%= time_ago_in_words(photo.created_at) %> ago</small></h6> <%= photo.caption %></li>
            <% photo.comments.order(created_at: :desc).each do |comment| %>
            <li class="media"><h6><a href="/users/<%= comment.user.id %>" ><%= comment.user.username %></a> <small> <%= time_ago_in_words(comment.created_at) %> ago</small></h6> <%= comment.body %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>




<%# hour_since_post = TimeDifference.between(photo.created_at, Time.new).in_hours.round %>
<%# if hour_since_post < 24 %>
<%# time = "#{hour_since_post} hours ago" %>
<%# elseif hour_since_post / 24 < 31  %>
<%# time = "#{hour_since_post/24.round} days ago" %>
<%# else time = "#{hour_since_post/24/30.round} months ago" %>
<%# end %>
