
<div>
  <h3></h3>
</div>

<div class="container">


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="/photos/new" class="btn btn-default btn-block">
        <i class="fa fa-plus"></i>
      </a>

      <hr>
    </div>
  </div>


  <% @photos.each do |photo| %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="/users/<%= photo.user_id %>"><%= photo.user.username %></a>
            <small>
              <%= time_ago_in_words(photo.created_at) %>
            </small>
          </h3>
        </div>

        <div class="panel-body">
          <a href="/photos/<%= photo.id %>">
            <img src="<%= photo.image %>" class="img-responsive">
          </a>

          <p>
            <% if Like.where(:photo_id => photo.id).count == 0 %>
              <form action="/create_like" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                <!-- input for photo_id -->
                <input type="hidden" id="photo_id" name="photo_id" class="form-control" value="<%= photo.id %>">

                <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">

                <button class="btn btn-link">
                  <i class="fa fa-heart-o"></i>
                </button>
                </a>
                Be the first to like this photo.
              </form>
            <% elsif Like.where(:photo_id => photo.id).each do |like| %>
              <a href="/delete_like/<%= like.id %>" class="btn btn-link">
              <i class="fa fa-heart"></i>
              </a>

              <%= like.user.username %> likes this
              <% end %>
            <% end %>
          </p>

            <ul class="media-list">

              <li class="media">
                <div class="media-body">
                  <h6 class="media-heading">
                  <a href="/users/<%= photo.user_id %>"><%= photo.user.username %></a>
                    <small>
                      <%= time_ago_in_words(photo.created_at) %>
                    </small>
                  </h6>
                  <%= photo.caption %>
                </div>
              </li>

              <% Comment.where(:photo_id => photo.id).each do |comment| %>
              <li class="media">
                <div class="media-body">
                  <h6 class="media-heading">
                    <a href="/users/<%= comment.user.id %>"><%= comment.user.username %></a>
                    <small>
                      <%= time_ago_in_words(comment.created_at) %>
                    </small>
                  </h6>
                  <%= comment.body %>
                </div>
              </li>
              <% end %>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <% end %>
  </div>
