<div class="page-header">
    <a href="/photos/new" class="btn btn-default btn-block"><i class="fa fa-plus"></i></a>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

      <div class="panel panel-default">

      <% @photos.each do |photo| %>
      <div class="panel-heading">
          <h3 class="panel-title">
            <a href="/users/<%= photo.user_id %>">
              <%= photo.user_id %></a>

            <small>
              <%= photo.created_at %>
            </small>
          </h3>
        </div>

        <div class="panel-body">
        <td>
<a href="/photos/<%= photo.id %>"><img class="img-responsive" src="<%= photo.image %>" alt="" /></a>
          </td>
        </div>
        <div class="media-body">
          <h6 class="media-heading"><%= photo.caption %></h6>
        </div>


<!-- Form to Like -->
        <div class="row">
          <div class="col-md-12">
            <form action="/create_like" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <!-- Label and input for user_id -->
              <div class="form-group">

                <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= photo.user_id %>">
              </div>

              <!-- Label and input for photo_id -->
              <div class="form-group">

                <input type="hidden" id="photo_id" name="photo_id" placeholder="Photo" class="form-control" value="<%= photo.id %>">
              </div>

              <button class="btn btn-success">
                Create Like
              </button>
              or
              <a href="/likes">Cancel</a>
            </form>
          </div>
        </div>


<!-- Form to leave comment -->
        <div class="row">
          <div class="col-md-12">
            <form action="/create_comment" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <!-- Label and input for photo_id -->
              <div class="form-group">

                <input type="hidden" id="photo_id" name="photo_id" placeholder="Photo" class="form-control" value="<%= photo.id  %>">
              </div>

              <!-- Label and input for body -->
              <div class="form-group">
                <div class="panel panel-default">
                  <textarea id="body" name="body" placeholder="Add a comment..." class="form-control" rows="3"><%=  %></textarea>
                </div>

              </div>

              <!-- Label and input for user_id -->
              <div class="form-group">

                <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= photo.user_id %>">
              </div>

              <button class="btn btn-success">
                Post Comment
              </button>
              or
              <a href="/comments">Cancel</a>
            </form>
          </div>
        </div>
      <% end %>



  </div>
</div>
