<div class="container">
<div class="page-header col-md-8 col-md-offset-2">
    <a href="/photos/new" class="btn btn-default btn-block">
          <i class="fa fa-plus"></i>
        </a>
</div>


<% @photos.each do |photo| %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">

        <div class="panel-heading"><%= User.find_by({ :id => photo.user_id }).username %> <small><%= time_ago_in_words(photo.created_at) %> ago</small></div>

      <div class="panel-body"> <a href="/photos/<%= photo.id %>"><img style='height: 100%; width: 100%; object-fit: contain' src="<%= photo.image %>"></a></div>

      <div class="panel-body"><%=  photo.caption %></div>

      <% if @comment.errors.any? %>
        <% @comment.errors.full_messages.each do |message| %>
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= message %>
          </div>
        <% end %>
        <% end %>
        <form action="/create_comment" method="post" class="form-inline">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Hidden Label and input for photo_id -->

          <div class="form-group">

            <input type="hidden" id="photo_id" name="photo_id" placeholder="Photo" class="form-control" value="<%= photo.id %>">

          </div>

          <!-- Label and input for body -->
          <div class="form-group">

            <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" value="<%= @comment.body %>">

          </div>

          <!-- Label and input for user_id -->

          <div class="form-group">

            <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">

          </div>

          <button class="btn btn-success">
            Create Comment
          </button>

        </form>

</div>
</div>
</div>
<% end %>
</div>
