<div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success">New Photo</a>
  </h1>
</div>

<div class="col-md-8 col-md-offset-2">

      <% @photos.each do |photo| %>
     <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/photos/<%=photo.id%>"><%=photo.user.username%></a> <small><%=time_ago_in_words(Time.now) %></small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/<%=photo.id%>">
          <img src="<%= photo.image %>" class="img-responsive">
        </a>

        <% photo.comments.each do |comment|%>

        <ul class="media-list">
  <li class="media">
    <div class="media-body">
      <h6 class="media-heading">
        <a href="/users/<%=comment.user_id%>"><%=comment.user.username%></a>
        <small><%=time_ago_in_words(Time.now) %></small>
        <div><%=comment.body%></div>



      </h6>

    </div>
  </li>
</ul>


        <% end%>
      </div>
      </div>

        <% end %>
</div>
