<!-- Validation failure messages -->
<% if @photo.errors.any? %>
<% @photo.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>


<hr>
<div class="row">
  <dl class="dl-horizontal">
    <div class="col-md-8 col-md-offset-2">

      <tr>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Add Photo
            </h3>
          </div>
          <div class="panel-body">
            <form action="/create_photo" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <!-- Label and input for caption -->
              <div class="form-group">
                <label for="caption" class="control-label">
                  Caption
                </label>

                <input id="caption" name="caption" placeholder="Add a caption..." class="form-control"><%= @photo.caption %></input>
              </div>

              <!-- Label and input for image -->
              <div class="form-group">
                <label for="image" class="control-label">
                  Image
                </label>

                <input type="text" id="image" name="image" placeholder="Add an URL..." class="form-control" value="<%= @photo.image %>">
              </div>

              <!-- Label and input for user_id -->
              <div class="form-group">
                <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
              </div>

              <button class="btn btn-success btn-block">
                Create Photo
              </button>
            
              <a href="/photos" class="btn btn-link btn-block">Cancel</a>
            </form>
          </div>
        </div>

      </tr>
    </div>
  </dl>
  </div>
