<div class="container">
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">

      <!-- <dt>Caption</dt>
      <dd><%= @photo.caption %></dd> -->
      <div class="panel-heading"><%= User.find_by({ :id => @photo.user_id }).username %> <small><%= time_ago_in_words(@photo.created_at) %> ago</small></div>

      <!-- <dt>Image</dt>
      <dd><%= @photo.image %></dd> -->
      <div class="panel-body"><img style='height: 100%; width: 100%; object-fit: contain' src="<%= @photo.image %>"></div>

      <!-- <dt>User</dt>
      <dd><%= @photo.user_id %></dd> -->
<div class="panel-body"><%= @photo.caption %></div>

    </div>

    <div class="btn-group btn-group-justified">

      <a href="/photos" class="btn btn-primary">
        Back
      </a>
      <% if @photo.user_id == current_user.id %>
      <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
      <% end %>

    </div>
  </div>
</div>
</div>
