<div class="page-header">
  <h3>Photo #<%= @photo.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Caption</dt>
      <dd><%= @photo.caption %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @photo.image %>" alt="" width="260px" height="220px"/></dd>

      <dt>User</dt>
      <dd><%= User.find_by({:id => @photo.user_id}).username.capitalize %></dd>

    </dl>

<% if @photo.id == current_user.id %>
<div class="btn-group btn-group-justified">
  <a href="/photos" class="btn btn-primary">
    Back
  </a>
  <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
    Edit
  </a>
  <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">
    Delete
  </a>
</div>
<% else %>
<div class="btn-group btn-group-justified">
  <a href="/photos" class="btn btn-primary">
    Back
  </a>
</div>
<% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for photo_id -->

        <input type="hidden" name="photo_id" class="form-control" value="<%= @photo.id %>">


      <!-- Label and input for body -->
      <div class="form-group">


        <textarea id="body" name="body" placeholder="Add a comment..." class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for user_id -->

            <input type="hidden" name="user_id" class="form-control" value="<%= @photo.user.id %>">

      <button class="btn btn-success btn-block">
        Create Comment
      </button>
      or
      <a href="/comments">Cancel</a>
    </form>
  </div>
</div>
