<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/<%= @photo.user_id %>">
            <%= @photo.user.username %></a>

            <small>
              <%= time_ago_in_words(@photo.created_at) %> ago
            </small>
          </h3>
        </div>

        <div class="panel-body">

          <a href="/photos/<%= @photo.id %>"><img class="img-responsive" src="<%= @photo.image %>" alt="" /></a>


          <!-- Form to Like -->
          <% if @photo.likes.count == 0 %>
          <form action="/create_like" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <!-- Label and input for user_id -->
            <div class="form-group">

              <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
            </div>

            <!-- Label and input for photo_id -->
            <div class="form-group">

              <input type="hidden" id="photo_id" name="photo_id" placeholder="Photo" class="form-control" value="<%= @photo.id %>">
            </div>

            <button class="btn btn-link">
              <i class="fa fa-heart-o"></i>
            </button>
            <small>be the first to like this</small>
          </form>
          <% else %>

          <% @photo.likes.each do |like| %>
          <% if like.photo_id == @photo.id %>
          <a href="/delete_like/<%= like.id  %>" class="btn btn-link">
            <i class="fa fa-heart"></i>
          </a>
          <% end %>
          <% end %>
          <% end  %>

          <%= @photo.fans.pluck(:username).to_sentence %>
          <% if @photo.likes.count > 1 %>
          <small>like this</small>
          <% else  %>
          <% if @photo.likes.count == 1  %>
          <small>likes this</small>
          <% else  %>
          <% end %>
          <% end  %>

          <ul class="list-unstyled">
            <li><h6>
              <a href="/users/<%= @photo.user_id %>"><%= @photo.user.username %></a>
              <small><%= time_ago_in_words(@photo.created_at) %> ago</small>
            </h6></li>
            <li><%= @photo.caption %></li>
          </ul>



          <ul class="list-unstyled">
            <% @photo.comments.each do |comment| %>
            <li><h6><a href="/users/<%= comment.user_id %>"><%= comment.user.username %></a>
              <small><%= time_ago_in_words(comment.created_at) %> ago</small></h6>


            </li>
            <li> <%= comment.body %></li>
            <% end %>
          </ul>
          <!-- Form to leave comment -->
          <div class="media-body">
            <form action="/create_comment" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <!-- Label and input for photo_id -->
              <input type="hidden" id="photo_id" name="photo_id" placeholder="Photo" class="form-control" value="<%= @photo.id  %>">


              <!-- Label and input for body -->
              <div class="form-group">
                <textarea id="body" name="body" placeholder="Add a comment..." class="form-control" rows="3"></textarea>
              </div>

              <!-- Label and input for user_id -->


              <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">


              <button class="btn btn-success">
                Post Comment
              </button>
              or
              <a href="/comments">Cancel</a>
            </form>

          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="col-md-8 col-md-offset-2">


    <div class="btn-group btn-group-justified">

      <a href="/photos" class="btn btn-primary">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </a>
      <% if current_user.id == @photo.user_id %>
      <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </a>
      <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </a>
      <% end %>
    </div>
    <hr>
  </div>
