<div class="container">
  <!-- <h3>Photo #<%= @photo.id %></h3> -->

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <dl class="dl-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= @photo.user.username.capitalize %> <small><%= time_ago_in_words(@photo.created_at) %> ago</small></h3>
        </div>
        <div class="panel-body">
          <td><img class="img-responsive" src="<%= @photo.image%>" alt="" /></td>
        </div>
           <div class="panel-footer"><%= @photo.caption %></div>
      </div>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/photos" class="btn btn-primary">
        Back
      </a>
      <% if current_user.id == @photo.user_id %>
        <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">Edit</a>
        <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        <% end %>
    </div>
  </div>
</div>
</div>
