<div class="page-header">
  <h3>Photo #<%= @photo.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Caption</dt>
      <dd><%= @photo.caption %></dd>

      <dt>Image</dt>
      <dd><%= @photo.image %></dd>

      <dt>User</dt>
      <dd><%= @photo.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/photos" class="btn btn-primary">
        Back
      </a>
      <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
