<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class= "panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="/users/<%= @photo.user_id %>"><%= @photo.user.username %></a>
          </h3>

          <small>
            <%= time_ago_in_words(@photo.created_at) %>
          </small>
        </div>

        <div class="panel-body">
          <a href="/photos/<%= @photo.id %>">
            <img src="<%= @photo.image %>" class="img-responsive"/>
          </a>
        </div>



      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% if current_user.id == @photo.user_id %>
      <div class="btn-group btn-group-justified">
        <a href="/photos" class="btn btn-primary">
          Back
        </a>
        <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      </div>
      <% else %>
      <div class="btn-group btn-group-justified">
        <a href="/photos" class="btn btn-primary">
          Back
        </a>
      </div>
      <% end %>
    </div>
  </div>
</div>
