<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">

        <h3 class="panel-title">
          <a href="/users/<%= @photo.user_id %>"><%= User.find_by({ :id => @photo.user_id }).username %></a>
          <small>
            <%= time_ago_in_words(@photo.created_at) %> ago
          </small>
        </h3>

      </div>
      <div class="panel-body">
        <a href="/photos/<%= @photo.id %>"><img src="<%= @photo.image %>" class="img-responsive"/></a>
      </div>
    </div>

    <div class="btn-group btn-group-justified">

      <a href="/photos" class="btn btn-primary">
        <i class="fa fa-chevron-left"></i>
      </a>
      <% if @photo.user_id == current_user.id %>
      <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
        <i class="fa fa-edit"></i>
      </a>
      <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">
        <i class="fa fa-trash"></i>
      </a>
      <% end  %>
    </div>
  </div>
</div>
